.SideBar {
  display: none;
  position: absolute;
  height: 100vh;
  width: 80% !important;
  background-color: #fff;
  top: 0;
  z-index: 100;
}

.sideBar-close {
  transform: translateX(-100%);
}

// DElivery
.closed-delivery {
  display: none;
}
.Opened-delivery {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 100;
  .container {
    position: relative;
    height: inherit;
    @include Container;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      h1 {
        margin-top: 5px;
        margin-bottom: 10px;
      }
      .inputWrap {
        display: flex;
        flex-direction: column;

        input {
          border: none;
          background-color: darken(white, 10px);
          padding: 10px 8px;
          font-size: 0.9rem;

          &:first-child {
            margin-bottom: 2px;
          }
        }
      }
    }

    .bottom {
      .a-style {
        background-color: black;
        padding: 15px;
        border-radius: 5px;

        &:last-child {
          background-color: #f5f5f5;
        }
        .link {
          @include astyle;
          color: grey;
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }

  /*----------------------------------------- Big screen View Last View Shoot  ----------------------------------------*/
  @media (min-width: 769px) and (max-width: 3000px) {
    display: none;
  }
}

.moreOnAndroid {
  .container {
    @include Container;
    padding-top: 30px;
    padding-bottom: 30px;
    .top {
      display: flex;

      img.logo-image-a {
        height: 40px;
        width: auto;
        margin-right: 5%;
      }

      h2 {
        font-size: 1.3rem;
      }
    }
    .App-image {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      font-weight: bold;
      background-color: #d6d6d6;
      border-radius: 10px;
      margin-top: 10px;
      padding: 15px 0;
      .android {
        margin-right: 0.6rem;
        line-height: 1px;
      }
    }
  }
}
